'scopeName': 'source.impex'
'name': 'Impex'
'fileTypes': ['impex']
'patterns': [
  {
    'match': '(?i:(INSERT_UPDATE|UPDATE|REMOVE|INSERT))'
    'name': 'constant.numeric.integer.hexadecimal.python'
  },
  {
    'begin': '(^[ \\t]+)?(?=#)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.php'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.php'
        'end': '\\n|(?=\\?>)'
        'name': 'comment.line.number-sign.php'
      }
    ]
  },
  {
    'match': ';'
    'name': 'constant.numeric.integer.hexadecimal.python'
  }
]
