'scopeName': 'source.impex'
'name': 'Impex'
'fileTypes': ['impex']
'patterns': [
  {
    'match': '(?i:(INSERT_UPDATE|UPDATE|REMOVE|INSERT))'
    'name': 'keyword'
  },
  {
    'begin': '#'
    'end': '\\n|(?=\\?>)'
    'name': 'comment'
  },
  {
    'match': '(?x)\n\t\t\t(\\$+)[a-zA-Z_\\x{7f}-\\x{ff}]\n\t\t\t[a-zA-Z0-9_\\x{7f}-\\x{ff}]*?\\b'
    'name': 'storage'
  },
  {
    'match': ';'
    'name': 'constant.numeric'
  }
]
