'scopeName': 'source.impex'
'name': 'Impex'
'fileTypes': ['impex']
'patterns': [
  {
    'match': '(?i:(INSERT_UPDATE|UPDATE|REMOVE|INSERT))'
    'name': 'keyword'
  },
  {
    'begin': '#'
    'end': '\\n|(?=\\?>)'
    'name': 'comment'
  },
  {
    'match': ';'
    'name': 'constant'
  }
]
